version: '3.7'
services:
    app:
      image: gutenbooks/app
      build: .
      command: npm start
      environment:
        - REACT_APP_API_DOMAIN=https://gutendex.com/
        - REACT_APP_GA_TRACKING_ID=UA-161511207-1
      volumes:
        - ./bin:/app/bin
        - ./src:/app/src
        - ./public:/app/public
        - ./package.json:/app/package.json
        - ./tsconfig.json:/app/tsconfig.json
      ports:
        - 3000:3000
